* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 1140px;
}

.promo {
  background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
  height: 800px;
  padding: 39px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  margin-top: 14px;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  margin-top: 53px;
}

h2.title {
  margin-top: 30px;
}

.title {
  color: #f9bf3b;
  font-family: "Roboto - Black";
  font-size: 41px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.simple .title_big {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 80px;
  font-weight: 400;
  margin-top: 21px;
  text-align: center;
  text-transform: uppercase;
}

.promo .promo_text {
    color: #ffffff;
    font-family: "Roboto Light";
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 23px;
    padding: 0 13px;
    text-align: center;
}

.promo .promo_text span {
  color: #f9bf3b;
  font-family: "Roboto - Bold";
  font-weight: 700;
}

.promo .promo_btn, .gift .gift_btn {
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  border: 4px solid rgba(0, 0, 0, 0.23);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: "Roboto Condensed";
  font-size: 21px;
  font-weight: 400;
  height: 72px;
  margin: 0 auto;
  margin-top: 73px;
  outline: none;
  text-transform: uppercase;
  width: 313px;
}

.gift .gift_btn {
  margin-top: 52px;
}

.more {
  margin-top: 73px;
}

.more .more_text {
  color: #ffffff;
  font-family: "Roboto - Thin";
  font-size: 15px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.waiting {
  background-color: #efefef;
  min-height: 604px;
  padding: 85px 0 75px 0;
}

.waiting .wiating_header, .finish .finish_header {
  color: #252525;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.finish .finish_header {
  color: #efefef;
}

.waiting .waiting_divider, .finish .finish_divider {
  background-color: #f9bf3b;
  height: 4px;
  margin: 0 auto;
  margin-top: 18px;
  width: 217px;
}

.waiting .waiting_subheader {
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  margin-top: 7px;
  text-align: center;
}

.waiting_wrapper {
  align-items: top;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
  text-align: center;
  width: 339px;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
  color: #4a4a4a;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  margin-top: 33px;
  text-align: center;
}

.optimization {
  min-height: 550px;
  padding: 102px 0 107px 0;
}

.optimization .optimization_header {
  color: #299cbd;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  margin-left: 391px;
  text-transform: uppercase;
}

.optimization .optimization_text {
  color: #4a4a4a;
  font-family: "Roboto - Light";
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin: 25px 0 0 391px;
}

.optimization .optimization_text span {
  font-family: "Roboto - Bold";
  font-weight: 700;
}

.optimization .optimization_img {
  left: -240px;
  position: absolute;
  top: 48px;
  z-index: -1;
}

.finish {
  background: url(../img/bg/second_bg.jpg) center center/cover no-repeat;
  min-height: 447px;
  padding: 86px 0 79px 0;
}

.finish .finish_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
}

.finish .finish_wrapper .finish_item {
  text-align: center;
  width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
  align-items: center;
  background-color: #b4e2ff;
  border-radius: 100%;
  display: flex;
  height: 115px;
  justify-content: center;
  margin: 0 auto;
  width: 115px;
}

.finish .finish_wrapper .finish_item .finish_descr {
  color: #efefef;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  margin-top: 25px;
}

.gift {
  background-color: #efefef;
  min-height: 628px;
  padding: 86px 0 87px 0;
}

.gift .gift_img {
  display: block;
  margin: 0 auto;
}

.gift .gift_text {
  color: #252525;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  margin-top: 42px;
  text-align: center;
}

.first {
  min-height: 515px;
  padding: 82px 0 64px 0;
}

.first .first_img {
  display: block;
  margin: 0 auto;
}

.first .first_header {
  color: #252525;
  margin-top: 37px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.first .first_date {
  color: #299cbd;
  margin: 30px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.first .first_subheader {
  color: #4a4a4a;
  margin: 25px;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

footer {
  background-color: #1a1a1a;
  min-height: 166px;
  padding: 61px 0 69px 0;
}

.info {
  color: #888888;
  margin: 0 auto;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  width: 377px;
}

footer a {
  color: #888888;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: none;
}

.underlined {
  text-decoration: underline;
}